[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
djangorestframework = "*"
mimesis = "*"
django-crispy-forms = "*"
django-extensions = "*"
django-registration-redux = "*"
faker = "*"
pillow = "*"
django-allauth = "*"
python-dotenv = "*"
django-heroku = "*"

[requires]
python_version = "3.7"
